<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Room Questioner</title>
    {% load static %}
    <link href="{% static 'chat/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'chat/js/chat.js' %}"></script>
    <script src="https://kit.fontawesome.com/160a13150c.js" crossorigin="anonymous"></script>
</head>
<body class="has-background-warning-light">
    <div class="container">
        <br />
        <h2 class="title is-2 m-5 has-text-link">クイズの出題者</h1>
        <div class="field">
            <label class="label has-text-link">部屋番号</label>
            <div class="control has-icons-left">
                <input id="room-id-input" name="room-id" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_id }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">パスワード</label>
            <div class="control has-icons-left">
                <input id="room-pw-input" name="room-pw" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_pw }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">部屋名</label>
            <div class="control has-icons-left">
                <input id="room-name-input" name="room-name" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_name }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-pen"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">問題番号</label>
            <div class="control has-icons-left">
                <input id="question-no-input" name="question-no" type="text" class="input is-link is-small is-rounded" size="100" value="" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-question"></i>
                </span>
            </div>
        </div>

        <textarea id="answerer-list" cols="100" rows="20" readonly>
        </textarea><br />
        <input id="question-submit" type="button" class="button is-link is-large is-rounded m-5" value="出題" onclick="questionSubmit(chatSocket);afterQuestionSubmit()" />
        <input id="correct-submit" type="button" class="button is-link is-large is-rounded m-5" value="正解" onclick="correctSubmit(chatSocket);afterCorrectSubmit()" disabled />
        <input id="incorrect-submit" type="button" class="button is-link is-large is-rounded m-5" value="不正解" onclick="incorrectSubmit(chatSocket);afterIncorrectSubmit()" disabled />
    </div>

    {{ room_id|json_script:"room-id" }}
    <script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);

        const chatSocket = newChatSocket(roomId);
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            updateAnswererList(data.answerers);
            updateQuestionNo(data.question_no);

            if (data.status === roomStatus.ANSWERING) {
                document.querySelector('#correct-submit').disabled = false;
                document.querySelector('#incorrect-submit').disabled = false;
            } 

            if ( data.status === roomStatus.WAITING ) {
                document.querySelector('#question-submit').disabled = false;
            }
        };
        chatSocket.onclose = closeChatSocket;

        const afterQuestionSubmit = function() {
            document.querySelector('#question-submit').disabled = true;
        };

        const afterCorrectSubmit = function() {
            document.querySelector('#correct-submit').disabled = true;
            document.querySelector('#incorrect-submit').disabled = true;
        };

        const afterIncorrectSubmit = function() {
            document.querySelector('#correct-submit').disabled = true;
            document.querySelector('#incorrect-submit').disabled = true;
        };

        setInterval(() => {msgPing(chatSocket)}, 1000);
    </script>
</body>
</html>