<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Room Answerer</title>
    {% load static %}
    <link href="{% static 'chat/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'chat/js/chat.js' %}"></script>
    <script src="https://kit.fontawesome.com/160a13150c.js" crossorigin="anonymous"></script>
</head>
<body class="has-background-link-light">
    <div class="container">
        <br />
        <h2 class="title is-2 m-5 has-text-link">クイズの回答者</h1>
        <div class="field">
            <label class="label has-text-link">部屋番号</label>
            <div class="control has-icons-left">
                <input id="room-id-input" name="room-id" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_id }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">パスワード</label>
            <div class="control has-icons-left">
                <input id="room-pw-input" name="room-pw" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_pw }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">部屋名</label>
            <div class="control has-icons-left">
                <input id="room-name-input" name="room-name" type="text" class="input is-link is-small is-rounded" size="100" value="{{ room_name }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fas fa-pen"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">問題番号</label>
            <div class="control has-icons-left">
                <input id="question-no-input" name="question-no" type="text" class="input is-link is-small is-rounded" size="100" value="" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-question"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-link">回答者名</label>
            <div class="control has-icons-left">
                <input id="answerer-name-input" name="answerer-name" type="text" class="input is-link is-small is-rounded" size="100" value="{{ answerer_name }}" readonly="readonly" />
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-person"></i>
                </span>
            </div>
        </div>

        <table class="table m-5">
            <thead>
              <tr>
                <th><abbr title="No">No.</abbr></th>
                <th><abbr title="Answerer Name">回答者</abbr></th>
                <th><abbr title="Score">得点</abbr></th>
                <th><abbr title="Status">状態</abbr></th>
              </tr>
            </thead>
            <tbody id="answerer-tbody">
            </tbody>
        </table>
        <input id="answer-submit" type="button" class="button is-link is-large is-rounded m-5" value="回答" onclick="answerSubmit(chatSocket);afterAnswerSubmit()" disabled />
    </div>
    <audio id="answer-audio">
        <source src="{% static 'chat/audio/answer.mp3' %}" type="audio/mp3">
    </audio>

    {{ room_id|json_script:"room-id" }}
    <script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);

        const chatSocket = newChatSocket(roomId);
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            updateAnswererTable(data.answerers);
            updateQuestionNo(data.question_no);

            if (data.status === roomStatus.ASKING) {
                document.querySelector('html body').className = "has-background-warning-light";
                document.querySelector('#answer-submit').disabled = false;
            } else if (data.status === roomStatus.ANSWERING) {
                myName = document.querySelector('#answerer-name-input').value;

                if (amIAnswering(myName, data.answerers) === true) {
                    document.querySelector('html body').className = "has-background-danger-light";
                } else {
                    document.querySelector('html body').className = "has-background-primary-light";
                }
                document.querySelector('#answer-submit').disabled = true;
            } else {
                document.querySelector('html body').className = "has-background-link-light";
            }
        };
        chatSocket.onclose = closeChatSocket;

        const afterAnswerSubmit = function() {
            document.getElementById('answer-audio').play();
            document.querySelector('html body').className = "has-background-danger-light";
            document.querySelector('#answer-submit').disabled = true;
        };

        setInterval(() => {msgPing(chatSocket)}, 1000);
</script>
</body>
</html>